<% layout("/layouts/boilerplate") %>

<body class="bg-light">
  <div class="container mt-5 mb-5">
    <h3>Edit Pin</h3>
    <form action="/pins/<%= pin._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="pins[title]" value="<%= pin.title %>" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="pins[description]" rows="5" required><%= pin.description %></textarea>
      </div>

      <div class="mb-3">
        <legend>Orginal Image</legend>
        <img src="<%= orgimg  %>" alt="listing">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">New Image </label>
        <input name="pins[image]" type="file" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input  type="text" class="form-control" name="pins[link]" value="<%= pin.link %>">
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="board" class="form-label">Board</label>
          <input type="text" class="form-control" name="pins[board]" value="<%= pin.board %>" required>
        </div>

        <div class="col-md-6 mb-3">
          <label for="taggedTopics" class="form-label">Tagged Topics</label>
          <input type="text" class="form-control" name="pins[taggedTopics]" value="<%= pin.taggedTopics %>" required>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</body>
</html>